{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	-  Category
{% endblock %}

{% block body %}

	<h1>{{titre}}</h1>
	<div style="display:flex;flex-direction:row;gap:2rem">
		{% for e in categories %}
			<div style="display:flex;flex-direction:row;gap:0.5rem">
				<a class="btn btn-info" href="{{ path('indexCategory2',{'id':e.id}) }}">{{e.name}}</a>
				:
				<p>{{e.nbProduct}}
					produits</p>
			</div>
		{% endfor %}
	</div>


	<ul class="articles">
		{% for e in produit_par_category %}

			<li class="article">
				<img src="{{asset(e[0].image)}}" alt="{{e[0].image}}" style="height:15rem">
				<h3>{{e[0].name}}
					-
					{{e[0].category.name}}</h3>
				<div class="prix">
					<p>{{e[0].price}}€
					</p>
					<a class="btn btn-success" href="{{ path('detail',{'name':e[0].name}) }}">En savoir plus</a>
				</div>
			</li>

		{% endfor %}

	</ul>


{% endblock %}
