{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	-  Accueil
{% endblock %}

{% block body %}

	<h1>{{titre}}</h1>
	<h2>produits au hasard</h2>
	<ul class="articles">
		{% for element in tab %}
			<li class="article">
				<img src="{{asset(element.image)}}" alt="{{element.image}}" style="height:15rem">
				<h3>{{element.name}}</h3>
				<div class="prix">
					<p>{{element.price}}€</p>
					<a class="btn btn-success" href="{{ path('detail',{'name':element.name}) }}">En savoir plus</a>
				</div>
			</li>
		{% endfor %}
	</ul>


{% endblock %}
