{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	-  Accueil
{% endblock %}

{% block body %}


	{% for message_session in app.flashes('notice') %}
		<p class="alert alert-success">{{ message_session }}</p>
	{% endfor %}

	<h1>{{titre}}</h1>
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<p>Tu es connecté en tant que
			{{ app.user.email }}</p>
	{% else %}
		<p>Bonjour visiteur!</p>
	{% endif %}
	<h2>produits au hasard</h2>
	<ul class="articles">
		{% for element in tab %}
			<li class="article">
				<img src="{{asset(element.image)}}" alt="{{element.image}}" style="height:15rem">
				<h3>{{element.name}}
					-
					{% if element.category != NULL %}
						{{element.category.name}}
					{% endif %}
				</h3>
				<div class="prix">
					<p>{{element.price}}€
					</p>
					<a class="btn btn-success" href="{{ path('detail',{'name':element.name}) }}">En savoir plus</a>
				</div>
			</li>
		{% endfor %}
	</ul>


{% endblock %}
